@model iot_parking.Models.Terminal

@{
    ViewData["Title"] = "Usuwanie terminalu";
}

<h1>Usuwanie</h1>

<h3>Czy na pewno chcesz usunąć ten terminal?</h3>
<div>
    <h4>Terminal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Numer terminalu")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminalNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Typ")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
