@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>

<a class="btn btn-primary" id="change-password" asp-page="./ChangePassword">Zmień hasło</a>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}